.displayBook-cardContainer{
    display: flex;
}

.displayBook-author {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: 100px;
    height: 100px;
    font-size: 200%;
    font-weight: lighter;
    margin-left: 50px;
    padding-bottom: 1%;
}